<main>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>File Upload</h1>
        <p>
            Esempio per file upload.
        </p>
        <p>
            <button type="button" class="btn btn-light"><a href="/samples">Torna alla pagina esempi</a></button>
            <button type="button" class="btn btn-light"><a href="/samples/upload/uploadfile">Torna alla form di upload</a></button>
        </p>
    </div>
    <div class="container-sm mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 align-self-center">
                <div class="card">
                    <div class="card-header">Esito caricamento File</div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-2">Esito</dt>
                            <dd class="col-sm-9"><?=$this['result']?></dd>
                            <dt>Messaggi:</dt>
                            <dd><?=$this['error']?></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
</body>
</html>