<main>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>File Upload</h1>
        <p>
            Esempio per file upload.
        </p>
        <p>
            <button type="button" class="btn btn-light"><a href="/samples">Torna alla pagina esempi</a></button>
        </p>
    </div>
    <div class="container-sm mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 align-self-center">

                <div class="card">
                    <form method="post" action="/samples/upload/douploadfile" enctype="multipart/form-data">
                        <div class="card-header">Carica File</div>
                        <div class="card-body">
                            <div class="alert alert-primary">
                                Abilitando la sovrascrittura potrà essere inviato un file già esistente; in caso contrario
                                la procedura di upload genererà un'eccezione di file già esistente.
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" name="allow_overwrite" id="allow_overwrite">
                                <label class="form-check-label" for="allow_overwrite">Permetti sovrascrittura</label>
                            </div>
                            <div class="mb-3">
                                <div class="alert alert-primary">
                                    Il valore di POST_MAX_SIZE è attualmente di: <?=$this['post_max_size']?> bytes.
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="alert alert-primary">
                                    Il valore di UPLOAD_MAX_FILESIZE è attualmente di: <?=$this['upload_max_filesize']?> bytes.
                                </div>
                            </div>

                            <div class="mb-3 mt-3">
                                <label class="form-label" for="upload_file">File:</label>
                                <input class="form-control" type="file" name="upload_file" id="upload_file">
                            </div>
                        </div>

                       <div class="card-footer">
                           <button name="submit" value="SUBMIT" type="submit" class="btn btn-primary">Carica file</button>
                       </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</main>
</body>
</html>