<main>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Cassa</h1>
        <p>L'emissione dello scontrino invierà un messaggio sulla coda MQTT <em>stuff4php/samples/cassascontrini</em>
        </p>
        <p>
            <button type="button" class="btn btn-light"><a href="/samples">Torna alla pagina esempi</a></button>
        </p>
    </div>
    <div class="container-sm mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 align-self-center">
                <div class="card">
                    <form method="post" action="/samples/mqtt/emissionecontrino">
                        <div class="card-header"><?=$this['title']?></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="cassa">Cassa:</label>
                                        <select name="cassa" id="cassa">
                                            <option value="1">Cassa 1</option>
                                            <option value="2">Cassa 2</option>
                                            <option value="3">Cassa 3</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="articolo">Articolo:</label>
                                        <select name="articolo" id="articolo">
                                            <option value="1">ART01</option>
                                            <option value="2">ART02</option>
                                            <option value="3">ART03</option>
                                        </select>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="importo">Importo:</label>
                                        <input name="importo" id="importo" class="form-control" type="number" value="1">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="importo">Quantità:</label>
                                        <input name="quantita" id="quantita" class="form-control" type="number" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button name="submit" value="SUBMIT" type="submit" class="btn btn-primary">Emetti scontrino</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>




</main>

</body>
</html>