<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript"></script>
<script src="/assets/mqtt/js/monitorcassa.js" type="text/javascript"></script>
<!-- script>
    // An mqtt variable will be initialized globally
    console.log(mqtt)
</script -->
<script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous">
</script>
<main>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1><?=$this['title']?></h1>
        <p>La configurazione Broker può essere modificata per adeguare le impostazioni se necessario.
            L'emissione di uno scontrino utilizza una chiamata Ajax per far effettuare l'emissione da un controller
            dell'applicazione PHP e la finestra monitor visualizzerà i messaggi inviati dal controller utilizzando una
            libreria Javascript per leggere la coda.
        </p>
        <p>
            Il controller PHP utilizza una connessione MQTT (TCP) mentre la libreria Javascript utilizza MQTT over
            WebSocket.

        </p>
        <p>
            <button type="button" class="btn btn-light"><a href="/samples">Torna alla pagina esempi</a></button>
        </p>
    </div>
    <div class="container-sm mt-5">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <form id="connection-information-form">
                        <div class="card-header text-white bg-primary">Configurazione broker</div>
                        <div class="card-body text-white bg-info">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="host">MQTT Host:</label>
                                        <input name="host" id="host" class="form-control" type="text" value="localhost">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="tcp_port">TCP Port:</label>
                                        <input name="tcp_port" id="tcp_port" class="form-control mt-2" type="number"
                                               value="1883">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="ws_port">WebSocket Port:</label>
                                        <input name="ws_port" id="ws_port" class="form-control mt-2" type="number"
                                               value="9001">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="topic">Topic:</label>
                                        <input name="topic" id="topic" class="form-control" type="text"
                                               value="stuff4php/samples/cassascontrini">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-sm-8">

                <div class="row">

                    <div class="col-sm-6 offset-sm-3 align-self-center">

                        <div class="card">
                            <!-- form method="post" action="/samples/mqtt/emissionecontrino" -->
                                <div class="card-header bg-primary"><?= $this['title'] ?></div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb-3 mt-3">
                                                <label class="form-label" for="cassa">Cassa:</label>
                                                <select name="cassa" id="cassa">
                                                    <option value="1">Cassa 1</option>
                                                    <option value="2">Cassa 2</option>
                                                    <option value="3">Cassa 3</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb-3 mt-3">
                                                <label class="form-label" for="articolo">Articolo:</label>
                                                <select name="articolo" id="articolo">
                                                    <option value="1">ART01</option>
                                                    <option value="2">ART02</option>
                                                    <option value="3">ART03</option>
                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="importo">Importo:</label>
                                                <input name="importo" id="importo" class="form-control" type="number"
                                                       value="1">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="importo">Quantità:</label>
                                                <input name="quantita" id="quantita" class="form-control" type="number"
                                                       value="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button name="emetti_scontrino" id="emetti_scontrino" type="button" class="btn btn-primary" >Emetti
                                        scontrino
                                    </button>
                                    <div id="logcassa"></div>
                                </div>
                            <!-- /form -->
                        </div>

                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">Messaggi</div>
                            <div class="card-body">
                                <div class="monitor-output" id="messages"></div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" value="Connect" onclick="startConnect()">
                                    Connetti &amp;
                                    sottoscrivi
                                </button>
                                <button type="button" class="btn btn-primary" onclick="startDisconnect()"
                                        value="Disconnect">Disconnetti
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $('#emetti_scontrino').click(function() {
        emettiScontrino();
    });

    function emettiScontrino() {
        console.log('emetto scontrino ajax');

        $.ajax({
            method: "post",
            url: "/samples/mqtt/emissionescontrinoajax",
            data: {
                host: $('#host').val(),
                port: $('#tcp_port').val(),
                topic: $('#topic').val(),
                cassa: $('#cassa').val(),
                articolo: $('#articolo').val(),
                importo: $('#importo').val(),
                quantita: $('#quantita').val(),
                submit: 'submit'
            }
        })
        .done (function(data, textStatus, jqXHR) {
            console.log("Emissione scontrino: Success: " + textStatus);
        })
        .fail (function(jqXHR, textStatus, errorThrown) {
            console.log("Emissione scontrino: Error " + textStatus);
        });

    }
</script>