<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript"></script>
<!-- script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script -->
<script src="/assets/mqtt/js/monitorcassa.js" type="text/javascript"></script>
<!-- script>
    // An mqtt variable will be initialized globally
    console.log(mqtt)
</script -->
<script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous">
</script>
<main>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Monitor cassa scontrini</h1>
        <p>Questo monitor si connette al broker MQTT e sottoscrive il topic indicato.
            I messaggi ricevuti sulla coda saranno visualizzati nella finesta.
        </p>
        <p>
            <button type="button" class="btn btn-light"><a href="/samples">Torna alla pagina esempi</a></button>
        </p>
    </div>
    <div class="container-sm mt-5">
        <div class="row">
            <div class="col-sm-4 ">
                <div class="card">
                    <form id="connection-information-form">
                        <div class="card-header"><?=$this['title']?></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="host">MQTT Host:</label>
                                        <input name="host" id="host" class="form-control" type="text" value="localhost">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="port">Port:</label>
                                        <input name="port" id="port" class="form-control" type="number" value="9001">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="topic">Topic:</label>
                                        <input id="topic" name="topic" id="topic" class="form-control" type="text"
                                               value="stuff4php/samples/cassascontrini">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" onclick="startConnect()" value="Connect">Connetti &amp;
                                sottoscrivi
                            </button>
                            <button type="button" class="btn btn-primary" onclick="startDisconnect()" value="Disconnect">Disconnetti
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">Messaggi</div>
                    <div class="card-body">
                        <div class="monitor-output" id="messages"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

