<!DOCTYPE html>
<html lang="it">
<head>
    <title>Stuff4PHP - Base Logging</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/mqtt/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Stuff4PHP</h1>
    <p>
        Esempi e snippets per PHP
    </p>
    <p>
        <button type="button" class="btn btn-light"><a href="/samples">Torna alla pagina esempi</a></button>
    </p>

</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h2>Gestione Logging</h2>
                </div>
                <div class="card-body">
                    <p>Il controller invia semplicemente una serie di segnalazioni al file di log.</p>
                    <code><pre>
    protected function testLog(): void
    {
        $logger = $this->getLogger();
        $logger->debug('Messaggio di debug');
        $logger->info('Messaggio di informazione');
        $logger->notice('Messaggio di notifica');
        $logger->warning('Messaggio di warning');
        $logger->error('Messaggio di errore');
        $logger->critical('Messaggio di errore critico');
        $logger->alert('Messaggio di allerta');
        $logger->emergency('Messaggio di emergenza');
    }
                        </pre>
                    </code>
                </div>
                <div class="card-body">
                    Il var/log/samples trovi i file di log generati dall'esempio.
                </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>


