<!DOCTYPE html>
<html lang="it">
<head>
    <title>Stuff4PHP - esempi e snippets</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/mqtt/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Stuff4PHP</h1>
    <p>
        Esempi e snippets per PHP
    </p>
    <p>
        <button type="button" class="btn btn-light"><a href="/">Torna alla Home Page</a></button>
    </p>

</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Error Handling</h2>
                </div>
                <div class="card-body">
                    <ul>
                        <li><a href="/samples/base_logging" title="">Base Logging</a>
                            Esempio di base per scrittuta dei messaggi nel file di log.
                        </li>
                        <li><span class="badge bg-primary">BP</span><a href="/samples/upload_error_handling"
                                                                        title="Error Hanling Best Practices">Upload
                                Error Handling</a>
                            Gestione degli errori personalizzati, l'esempio mostra una serie di sottoclassi di eccezione
                            per la gestione degli upload.
                        </li>
                        <li><a href="/samples/upload/uploadfile" title="">File Upload</a>
                            File upload con gestione errori.
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>MQTT</h2>
                </div>
                <div class="card-body">
                    <ul>
                        <li><a href="/samples/mqtt/cassascontrini" title="">Cassa scontrini</a>
                            emette lo scontrino di vendita - invia un messaggio alla coda stuff4php/vendite.
                            Esempio implementato tramite controller PHP e connessoine MQTT TCP
                        </li>
                        <li>
                            <a href="/samples/mqtt/monitorcassa">Monitor cassa</a>
                            si connette alla coda MQTT e sottoscrive il canale della cassa
                            scontrini; per ogni scontrino emesso riceve il messaggio e lo visualizza nella finestra.
                            Esempio implementato tramite client JavaScript e connessioe MQTT Websockets.
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>