<!DOCTYPE html>
<html lang="it">
<head>
    <title>Stuff4PHP - Upload error handling</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Upload Error Handling</h1>
    <p>
        Esempi e snippets per PHP
    </p>
    <p>
        <button type="button" class="btn btn-light"><a href="/samples">Torna alla pagina esempi</a></button>
    </p>

</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h2>Gestione errori Upload</h2>
                </div>
                <div class="card-body">
                    <p>Questo esempio mostra come estendere le classi di eccezione per integrare
                        le funzionalità e la gestione degli errori. Vengono definite le sottoclassi
                        per centralizzare la gestione ed uniformare i messaggi.
                    </p>
                </div>
                <div class="card-body">
                    Il var/log/samples trovi i file di log generati dall'esempio.
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
